body {
    background-color: greenyellow;
}
.container {
    display: flex;
    justify-content: center;
}

.add {
    height: 93vh;
    width: 300px;
    background-color: white;
    position: fixed;
    padding: 15px;
    border-radius: 10px;
}
.add>div {
    text-align: center;
    color: whitesmoke;
    background-color: aquamarine;
    margin-bottom: 20px;
    font-size: large;
    padding-top: 10px;
    height: 30px;
    border-radius: 5px;
}

.add input[type=text] {
    width: 100%;
    border: 2px solid black;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}
.add .edit_book {
    visibility: hidden;
}
.add_book,
.edit_book {
    background-color: rgba(147, 196, 125, 1);
    color: white;
    border-style: outset;
    border-color: lightblue;
    height: 25px;
    width: 50px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.edit_book {
    background-color: lightblue;
}
.home {
    
    height: auto;
    width: 800px;
    top: 0px;
    
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
    border-radius: 10px;
    background-color: white;
}

.home .book-info {
    background-color: aquamarine;
    text-align: center;
    height: 35px;
    font-size: large;
    color: white;
    position: sticky;
    width: 780px;
    margin: 10px 0 10px 10px;
    border-radius: 5px;
    padding-top: 1rem;
}

.home .items {
    text-align: center;
    width: 23%;
    margin: 1%;
    margin-left: 1%;
    box-shadow: rgba(17, 17, 26, 0.2) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 15px;
}

.items>img {
    margin-top: 10px;
    margin-bottom: 10px;
}
.items .name,
.price,
.category {
    text-align: start;
    margin-left: 10px;
    padding-top: 10px;
}
.button {
    margin-top: 10px;
    margin-bottom: 5px;
}
.button .editBtn,
.deletBtn {
    border-radius: 5px;
    background-color: lightblue;
    color: white;
    border-style: outset;
    border-color: lightblue;
    text-shadow: none;
    height: 30px;
}
.deletBtn {
    margin-left: 4px;
    background-color: rgb(228, 91, 91);
}
.edit_book {
    margin-left: -55px;
    text-align: center;
    width: 60px;
}
.items>img {
    height: 90px;
}